<strong>Olá, {{deliveryman}}</strong>
<p> Uma entrega designada para você foi cancelada</p>
<p>
  <strong> Entrega de um(a) {{product}} para o {{recipient}} foi cancelada </strong> <br/>
  <strong> Endereço: {{address}} </strong> <br/>
   <br/>
</p>